<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Success</title>
</head>
<body>

<div>Фух, прорыв закрыт. Еще один конец света остановлен - уже 3 за месяц. (Если конечно не считать тот случай когда у нас на базе отрубился генератор... Ну да не будем об этом)</div><div> </div><div>Но место агент конечно выбрал, для того чтобы спрятать ответ...<br />Как говорят книгочеи - "Вавилонская библиотека - найдется ВСЁ"</div><div> </div><div>---</div><div> </div><div>vrnctf{tion_uqbar_orbis_tertius}</div>


</body>
</html>